STAGE=prod
AWS_PROFILE=personal-stg
AWS_REGION=us-east-1
ROOT_DOMAIN=brimax.life
LANDING_CERTIFICATE_ARN=
CLOUDFLARE_API_TOKEN=replace-me
CLOUDFLARE_ZONE_ID=replace-me
TOFU_STATE_KEY_PREFIX=brimax-life
